In [58]:
val = input("enter soemthing\n")
print(val)

test

In [3]:
# Program to check input
# type in Python
 
num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)
 
# Printing type of input value
print ("type of number", type(num))
print ("type of name", type(name1))

2
3
type of number <class 'str'>
type of name <class 'str'>

In [15]:
num = int(input("Enter a number: "))

"""
print do input value mais indicação do tipo de dados
"""
print("your number is ", num ,  "and the type is", type(num))

num = str(input("Enter a name: "))

"""
print do input value mais indicação do tipo de dados
"""
print("your name is ", num ,  "and the type is", type(num))

your number is  4 and the type is <class 'int'>
your name is  luis and the type is <class 'str'>

In [17]:
#multiplos inputs - numeros


inp1 = int(input())
inp2 = int(input())

total = (inp1+inp2)
print(total)

5

In [22]:
#multiplos inputs - nomes

inp1 = str(input())
inp2 = str(input())

total = (inp1+' '+inp2)
print(total)

luis ed

In [26]:
#possibilidade de inserir multiplos input
# a ideia nesta caso é conseguir passar no mesmo input 2 numero seguidos, contudo é necessario das espaço


x, y, t = input("enter 2 values: ").split()
print("number of boys are: ", x)
print("number of girls are: ", y)
print("number of studenets are: ", t)

number of boys are:  4
number of girls are:  5
number of studenets are:  6

In [27]:
#exatamento o mesmo de cima,  mas nesta caso estou a usar o format string
a, b =  input("enter 2 values: ").split()
print(f'first number {a} and second numner is {b}')

first number 4 and second numner is 5

In [61]:
# taking multiple inputs at a time
# and type casting using list() function
x = list(map(int, input("Enter multiple values: ").split()))
print("List of students: ", x)

List of students:  [2, 2, 3, 3, 4, 4, 5, 5]

In [31]:
#no condigo onde tem int(x) e o for x,  é basicamente para cada iteração ,  todos os resultados de input vao ser convertidos para Integer

x, y = [int(x) for x in input ("enter 2 values").split()]
print("1 number: ", x)
print("2 number: ", y)

1 number:  5
2 number:  6

In [36]:


x, y, t = [int(i) for i in input ("insert 3 values: ").split()]
print("1 number: ", x)
print("2 number: ", y)
print("3 number: ", t)

1 number:  4
2 number:  55
3 number:  6

In [63]:
#o mesmo está a ser feito nesta linha de codigo so por dizer que neste caso, esta a ser convertido para string
x, y, t = [str(x) for x in input ("insert 3 names: ").split()]
print("1 name: ", x)
print("2 name: ", y)
print("3 name: ", t)

1 name:  luis
2 name:  edurdo
3 name:  sno

In [38]:
#podemos no mesmo input inserir varios valores,  e nao precisamos de colocar na mesma variavel
x = [int(i) for i in input ("insert 3 names: ").split()]
print("1 name: ", x)

1 name:  ['4', '55', '6', '55', '66', '7']

In [44]:
a, p =[int(i) for i in input("inserir peso / altura").split()]
print(f'a sua altura é {a} e o seu peso {p} e o seu BMI é',a/p*10)

a sua altura é 85.0 e o seu peso 1.75 e o seu BMI é 48.57142857142857

In [51]:
print("luis\n nogueira\n santos\n costa", end="**")

luis
 nogueira
 santos
 costa**

In [64]:
#Ex1:  vamos construir um sistema de countdonw que faz o append dos valores na mesma linha, considerando ainda que a contagem tem de ser reversa. o output tem de ser parecer assim: 3>>>2>>>1>>>start

import time
#total de segundos a usar
count_second =3
#for para iterar pelos valores i e incrementando sempre mais 1 ao count_second
for i in reversed(range(count_second +1)):
    #no caso do valor ser maior que zero,  segue a contagem e no fim de cada insert, acrescenta >>>
    if i > 0:
        print(i, end=">>>")
        #espera 1 segundo por cada insert
        time.sleep(1)
    else:
        #quando as condiçoes de cima noa existirem usa start
        print('START')

3>>>2>>>1>>>START

In [56]:
dia = input("inserir o dia")
mes = input("inserir o mes")
ano = input("inserir o ano")

print("hoje é",dia,mes, ano,sep="-")

hoje é-24-5-2023

In [57]:
# usamos o open file quando precisamos que um output seja escrito no ficheiro,  para isso precisamos de usar o codigo exemplo que se segue.

print("welcome lyis",file=open('testfole.txt','w'))

In [68]:
# PRINT WITHOUT NEW LINE

# # Python 3 code for printing
# on the same line printing
# geeks and geeksforgeeks
# in the same line
 
print("geeks", end =" ")
print("geeksforgeeks")
 
# array
a = [1, 2, 3, 4]
 
# printing a element in same
# line
for i in range(4):
    print(a[i], end =" ")
    

# Sem precisar do for

l = [10, 20, 30, 40]
print(*l)

geeks geeksforgeeks
1 2 3 4 10 20 30 40

In [69]:
# import sys module,  apenas funciona com o str se tentar colocar outro data type vou ter erro


import sys

sys.stdout.write("geekforgeek")
sys.stdout.write("is bullshit")

geekforgeekis bullshit

11

In [71]:
# end param in print

# ends the output with a space
print("Welcome to", end = ' ')
print("GeeksforGeeks", end= ' ')



print("luis", end = '@')
print("gmail.com", end= ' ')

Welcome to GeeksforGeeks luis@gmail.com

In [72]:
print('G','F', sep='', end='')
print('G')
#\n provides new line after printing the year
print('09','12','2016', sep='-', end='\n')
  
print('Red','Green','Blue', sep=',', end='@')
print('geeksforgeeks')

GFG
09-12-2016
Red,Green,Blue@geeksforgeeks

In [74]:
name = "luis"
age = 30
print("My name is", name, "and I am", age, "years old.", end=" ")
print("Nice to meet you!")

My name is luis and I am 30 years old. Nice to meet you!

In [75]:
#sep

# using a comma separator
print('apples', 'oranges', 'bananas', sep=', ')
# output: apples, oranges, bananas
 
# using a semicolon separator
print('one', 'two', 'three', sep=';')
# output: one;two;three
 
# using an emoji separator
print('????', '????', '????', sep='????')
# output: ????????????????????

apples, oranges, bananas
one;two;three
????????????????????

In [76]:
#output format

# Python program showing how to use
# string modulo operator(%) to print
# fancier output
 
# print integer and float value
print("Geeks : %2d, Portal : %5.2f" % (1, 05.333))
 
# print integer value
print("Total students : %3d, Boys : %2d" % (240, 120))
 
# print octal value
print("%7.3o" % (25))
 
# print exponential value
print("%10.3E" % (356.08977))

Geeks :  1, Portal :  5.33
Total students : 240, Boys : 120
    031
 3.561E+02

In [77]:
# Changing positional argument

# o index aparece no inicio,  sendo que o ultimo argumento está com o index 0, logo vai ser o primeiro a ser apesentado
print("Second argument: {1:3d}, first one: {0:7.2f}".
      format(47.42, 11))

Second argument:  11, first one:   47.42

In [78]:
# Python program to
# format a output using
# string() method

cstr = "I love geeksforgeeks"

# Printing the center aligned
# string with fillchr
print ("Center aligned string with fillchr: ")
print (cstr.center(40, '#'))

# Printing the left aligned
# string with "-" padding
print ("The left aligned string is : ")
print (cstr.ljust(40, '-'))

# Printing the right aligned string
# with "-" padding
print ("The right aligned string is : ")
print (cstr.rjust(40, '-'))

Center aligned string with fillchr:
##########I love geeksforgeeks##########
The left aligned string is :
I love geeksforgeeks--------------------
The right aligned string is :
--------------------I love geeksforgeeks